<!DOCTYPE html>
<html lang="ar-iq">
<body>

    {{ content | safe }}

    <!-- Scripts -->
    <script type="text/javascript" src="assets/js/jquery.js?ver=2.0"></script>
    <script type="text/javascript" src="assets/js/plugins.js?ver=2.0"></script>
    <script type="text/javascript" src="assets/js/init.js?ver=2.0"></script>
    <!-- !Scripts -->
</body>

</html>
