---
title: أصغر مودل في مصر | الصفحة غير موجودة
layout: 'base.njk'
permalink: 404.html
---

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta property="fb:page_id" content="112246258125225" />
    <link rel="shortcut icon" type="image/ico" href="/assets/assets/img/favicon.ico">
    <link rel=icon href="/assets/assets/img/favicon-32x32.png" type="image/png">
    <meta
      name="description"
      content="أبراهيم جمال هو أصغر مودل في مصر عاشق للموضة يعمل كثيرا في مجال البدل والفاشون - نجم صاعد"
    />
    <meta
      name="keywords"
      content = "أبراهيم جمال , أصغر مودل في مصر , فاشون , بدل رجالي , أبراهيم والمشاهير , أصغر مودل في مصر والمشاهير"
    />
    <meta name="theme-color" content="#f1f1f1" />
    <meta name="secound-theme-color" content="#0d6efd" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="apple-mobile-web-app-title" content="أبراهيم جمال - أصغر مودل في مصر" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <link rel="apple-touch-icon" href="/assets/assets/img/logo.jpg" />
    <link rel="apple-touch-icon-precomposed" href="/assets/assets/img/logo.jpg" />
    <meta name="application-name" content="أبراهيم جمال - أصغر مودل في مصر" />
    <meta name="title" content="أبراهيم جمال - أصغر مودل في مصر" />
    <meta
      name="robots"
      content="max-snippet:-1, max-image-preview:large, max-video-preview:-1"
    />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="أبراهيم جمال - أصغر مودل في مصر" />
    <meta property="og:title" content="أبراهيم جمال - أصغر مودل في مصر" />
    <meta property="og:description" content="أبراهيم جمال - أصغر مودل في مصر" />
    <meta property="og:url" content="https://ibrahim-fashion.com/" />
    <meta property="og:image" content="https://i.ibb.co/NrZX8bT/logo.jpg" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@ibrahimgamaal__" />
    <meta name="twitter:creator" content="@ibrahimgamaal__" />
    <meta name="twitter:title" content="@ibrahimgamaal__" />
    <meta name="twitter:description" content="أبراهيم جمال - أصغر مودل في مصر" />
    <meta name="twitter:image:src" content="/assets/assets/img/logo.jpg" />
    <meta name="note" content="أبراهيم جمال - أصغر مودل في مصر" />
    <meta name="subject" content="أبراهيم جمال - أصغر مودل في مصر" />
    <meta name="identifier-URL" content="https://ibrahim-fashion.com/" />
    <meta name="linkage" content="https://ibrahim-fashion.com/" />
    <meta name="distribution" content="global" />
    <meta name="classification" content="All" />
    <meta name="author" content="Elias" />
    <meta name="owner" content="https://ibrahim-fashion.com/" />
    <meta name="copyright" content="https://ibrahim-fashion.com/" />
    <meta name="web_author" content="Ahmed Waled" />
    <meta name="MSSmartTagsPreventParsing" content="true" />
    <meta name="operator" content="أصغر مودل في مصر" />
    <meta name="contactOrganization" content="https://ibrahim-fashion.com/" />
    <meta name="contactStreetAddress1" content="Gisr El Suez - Arab Station" />
    <meta name="contactStreetAddress1" content="Abbas Al-Akkad" />
    <meta name="contactCity" content="cairo" />
    <meta name="contactCountry" content="Egypt" />
    <meta name="contactPhoneNumber" content="+201144418143" />
    <meta name="contactNetworkAddress" content="https://ibrahim-fashion.com/" />
    <meta name="robots" content="index, follow" />
    <meta name="msapplication-starturl" content="https://ibrahim-fashion.com/" />
    <meta name="msapplication-tooltip" content="Elias Suits Website" />
    <meta name="DC.Creator" content="Developed By Ahmed Waled" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="HandheldFriendly" content="True" />
    <title>{{ title }}</title>
<link type="text/css" rel="stylesheet" href="assets/css/plugins.css?ver=2.0" />
    <link type="text/css" rel="stylesheet" href="assets/css/style.min.css?ver=2.0" />
</head>

        <!-- Header -->
        <header dir="rtl" id="header">
            <div class="header">
                <div class="header_in">
                    <div class="logo">
                        <a class="has_text" href="index.html">
						<img src="assets/img/logo.png" alt="لوجو أبراهيم جمال أصغر مودل في مصر">
						<span>أبراهيم جمال</span>
					</a>
                    </div>
                    <div class="nav">
                        <ul>
                            <li><a class="gradient_link" href="#home"><span>الرئيسية</span></a></li>
                            <li><a class="gradient_link" href="#zigzag_carousel"><span>أبراهيم والمشاهير</span></a></li>
                            <li><a class="gradient_link" href="#collection"><span>معرض الصور</span></a></li>
                            <li><a class="gradient_link" href=".fn_cs_collection_info"><span>تواصل</span></a></li>
                        </ul>
                    </div>
                    <div class="helpful">
                        <a href="#" class="connect_btn"><span class="text">أبراهيم<span> والمشاهير</span></span></a>
                    </div>
                </div>
            </div>
        </header>
        <!-- !Header -->

        <!-- Mobile Navigation -->
        <div dir="rtl" class="ibrahim_fn_mobnav">
            <div class="mob_top">
                <div class="logo">
                    <a href="index.html">
					<img src="assets/img/logo.png" alt="لوجو أبراهيم جمال أصغر مودل في مصر">
				</a>
                </div>
                <div class="triggers">
                    <a href="#" class="connect_btn"><span class="text">أبراهيم<span> والمشاهير</span></span></a>
                    <a class="trigger trigger_menu" href="#"><span></span></a>
                </div>
            </div>
            <div class="mob_bot">
                <ul>
                    <li><a class="creative_link" href="#home">الرئيسية</a></li>
                    <li><a class="creative_link" href="#zigzag_carousel">أبراهيم والماهير</a></li>
                    <li><a class="creative_link" href="#collection">معرض الصور</a></li>
                    <li><a class="creative_link" href=".fn_cs_collection_info">تواصل</a></li>
                </ul>
            </div>
        </div>
        <!-- !Mobile Navigation -->


    <section class="error__section section--padding mb-95 text-center">
        <h1>{{ title }}</h1>
        <p>لقد كتبت عنوان خطأ في عنوان الموقع </p>
        <a class="btn btn-danger" href="/">الصفحة الرئيسية</a>
    </section>
